<!-- Start header section -->
<header id="aa-header">
  <!-- start header top  -->
  
  <!-- / header top  -->

  <!-- start header bottom  -->
  <div class="aa-header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-header-bottom-area">
            <!-- logo  -->
            <div class="aa-logo">
              <!-- Text based logo -->
              <a href="{{ url ('/') }}">
                 <img src="{{'assets/img/logo/alex_logo.png'|theme}}" />
              </a>
              <!-- img based logo -->
              <!-- <a href="index.html"><img src="img/logo.jpg" alt="logo img"></a> -->
            </div>
            
            <!-- search box -->
            <div class="aa-search-box">
              <form action="{{ url('/products') }}">
                <input type="text" name="q" id="" placeholder="Search here ">
                <button type="submit"><span class="fa fa-search"></span></button>
              </form>
            </div>
            <!-- / search box -->             
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / header bottom  -->
</header>
<!-- / header section -->
