<!-- Latest News  -->
  <section id="aa-latest-news">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-latest-news-area">

            <h2>{{ 'Home.news.Heading' |_}}</h2>


                      <!-- <div class="row"> 	 


                               {% component 'news' %}

                      </div> -->
                     <div class="aa-latest-news-body">
                      <div class="row">
                          <div class="col-md-4">                               

                                <div class="img-section">
                                 <img src="http://placehold.it/350x300"/>
                                </div>
                          </div>
                          <div class="col-md-8">
                                <div class="desc-section">
                                   <h3>Frankfourt Book Fair  </h3>
                                    
                                   <P>
                                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially 
                                  </P>
                                </div>
                          </div>
                       </div>
                    </div>
          </div>  
        </div>
      </div>
    </div>
  </section>        