==
<!-- menu -->
  <section id="menu">
    <div class="container">
      <div class="menu-area">
        <!-- Navbar -->
       
      <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>          
          </div>
          <div class="navbar-collapse collapse">
            <!-- Left nav -->
            <ul class="nav navbar-nav">
              <li><a href="{{ url('/') }}">{{ 'Main-Nav.Home'|_ }}</a></li>
              <li><a href="{{ url('/products') }}">{{ 'Main-Nav.Book-Series'|_ }} </a> 
                <ul class="dropdown-menu">
                   <li><a href="{{ url('allseries') }}">{{ 'Main-Nav.All-Series'|_ }} </a></li>
                   <li><a href="{{ url('products') }}">{{ 'Main-Nav.All-Books'|_ }}</a>
                     
                   </li>
                </ul>

              </li>         
                            
              <li><a href="{{ url('news') }}">{{ 'Main-Nav.News'|_ }}</a></li>
              <li><a href="{{ url('about') }}">{{'Main-Nav.About-us'|_}}</a></li>
              <li><a href="{{ url('contact') }}">{{ 'Main-Nav.Contact-us'|_ }}</a></li>
              
            </ul>
          </div><!--/.nav-collapse -->
        </div>
       
      </div>       
    </div>
  </section>
  <!-- / menu -->