==
<!-- menu -->
  <section id="menu">
    <div class="container">
      <div class="menu-area">
        <!-- Navbar -->
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>          
          </div>
          <div class="navbar-collapse collapse">
            <!-- Left nav -->
            <ul class="nav navbar-nav">
              <li><a href="{{ url('/') }}">Home</a></li>
              <li><a href="{{ url('/products') }}">Books </a> 
                <ul class="dropdown-menu">
                   <li><a href="{{ url('allseries') }}">All Series</a></li>
                   <li><a href="{{ url('products') }}">All Books</a>
                     
                   </li>
                </ul>

              </li>         
               <li><a href="#">Work with us </a> 
                <ul class="dropdown-menu">
                   <li><a href="#">Authors</a></li>
                   <li><a href="#">Partnerships</a></li>
                   <li><a href="#">Distributors & booksellers</a></li>
                </ul>

              </li>          
              
              <li><a href="{{ url('news') }}">News</a></li>
              <li><a href="{{ url('about') }}">About us</a></li>
              <li><a href="{{ url('contact') }}">Contact us</a></li>
              
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>       
    </div>
  </section>
  <!-- / menu -->