[seriesBLock]
max = 10
orderBy = "title"
orderDirection = "asc"
==




<section id="aa-series-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-series-blog-area">
                      
                        <!-- Home Series Block Heading -->
                        <h2>{{ 'Home.seriesBolock.heading'|_ }}</h2>
                        

                         {% component 'seriesBLock' %} 


                        
                        

                   </div>                                      
                 </div>

                </div>
           </div>
       </div>
</section>