==
<!-- Subscribe section -->
<section id="aa-subscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-subscribe-area">
          <h3> {{ 'Home.subscribe-Form'| _ }} </h3>
          <form data-request="onSubscription" data-request-success="alert('Thank you for your subscription to our newsletter!')">
         
          <div class="aa-subscribe-form">
            <input name="name" type="text" class="aa-subscribe-name" id="subscribersName" placeholder="Enter your name">        
    
    
            <input name="email" type="email" class="aa-subscribe-email" id="subscribersEmail" placeholder="Enter your email">
    
           <button type="submit" class="aa-subscribe-btn">Subscribe</button>
         </div>
         
        </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Subscribe section -->