title = "series"
url = "/series/:seriesSlug"
layout = "baselayout"
is_hidden = 0
==
function onStart()
{
    $series = \Acme\BookShop\Models\Series::where('slug', $this->param('seriesSlug') )->with("books")->first();

    $series_books = $series->books;

    
    $levels_id = $series->books()->groupBy("level_id")->get(["level_id"])->toArray();
    $rel_series = \Acme\BookShop\Models\Series::whereHas('books', function ($query) use( $levels_id) {
          $query->whereIn('level_id', $levels_id);
    })->get();
   
    if($series)
    {
      $this['series'] = $series;
      $this->page->title = $series->title;

      if($series_books)
      {
         $this['series_books']= $series_books;
      }
      
      if($rel_series)
      {

         $this['rel_series'] = $rel_series;
      }

    }else{
      return \Redirect::to('/404');
    }
}

==

<!-- catg header banner section -->
<!-- <section id="aa-catg-head-banner">
 <img src="{{'assets/img/fashion/fashion-header-bg-8.jpg'|theme}}" alt=" img"> 
   <div class="container">
    <div class="aa-catg-head-banner-content">
      <h2>series details | {{series.title}}</h2>
      <ol class="breadcrumb">
        <li><a href="{{ url('/') }}">Home</a></li>                   
        <li class="active">series Details | {{series.title}}</li>
      </ol>
    </div>
   </div>
 </div>
</section> -->
  <!-- / catg header banner section -->

 <!-- product category -->
  <section id="aa-product-details">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-product-details-area">
            <div class="aa-product-details-content">
              <div class="row">
                <!-- Modal view slider -->
                <div class="col-md-5 col-sm-5 col-xs-12">                              
                  <div class="aa-product-view-slider">                                
                    
                        <div class="aa-big-image-container">
                        <a data-lens-image="{{'assets/img/view-slider/large/polo-shirt-1.png'|theme}}" class="simpleLens-lens-image">
                        {% if series.image.getPath %}
                        <img src="{{ series.image.getPath }}" alt="img {{series.image.title}}">
                        {% else %}
                        <img src="{{ 'assets/img/electronics/electronic-1.png'|theme }}" alt="img {{ series.image.title }}">
                        {% endif %}
                        </a>
                        </div>
                      </div>
                   
                </div>
                <!-- Modal view content -->
                <div class="col-md-7 col-sm-7 col-xs-12">
                  <div class="aa-product-view-content">
                    <h3>{{ series.title }}</h3>
                   
                    <p>{{ series.shortDescription }}!</p>

                    <h4><strong>Author : </strong>
                    {% for author in series.authors %}
                    {{ author.name }}
                    {% endfor %}
                    </h4>
                    <h4><strong>publisher : </strong>
                    {% for publisher in series.publishers %}
                    {{ publisher.name }}
                    {% endfor %}
                    </h4>
                    <h4><strong>Category : </strong>
                    {% for category in series.categories %}
                    {{ category.name }}
                    {% endfor %}
                    </h4>
                    <h4><strong>Level : </strong>
                    {% for level in series.levels %}
                    {{ level.name }}
                    {% endfor %}
                    </h4>              
            
                    <!-- <div class="aa-prod-view-bottom">
                      <a class="aa-add-to-cart-btn" href="#">Add To Cart</a>
                      <a class="aa-add-to-cart-btn" href="#">Wishlist</a>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="aa-product-details-bottom">
              <ul class="nav nav-tabs" id="myTab2">
                <li><a href="#description" data-toggle="tab">Description</a></li>
                <!-- <li><a href="#review" data-toggle="tab">Reviews</a></li>                 -->
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane fade in active" id="description">
                  <p>{{ series.description }}</p>
                </div>
              </div>

            <!-- Related product -->
            <div class="aa-product-related-item">
              <h3>Series Books</h3>
              <ul class="aa-product-catg aa-related-item-slider">
                <!-- start single product item -->
              {% for book in series_books %}
                <!--start single product item -->
                <li>
                    <figure>
                      <a class="aa-product-img" href="{{ url('/book') ~ '/' ~ book.slug }}">
                         {% if book.image.getPath %}
                        <img src="{{ book.image.getPath }}" alt="img {{book.image.title}}">
                        {% else %}
                        <img src="{{ 'assets/img/electronics/electronic-1.png'|theme }}" >
                        {% endif %}
                      </a>
                      <h4 class="aa-product-title">
                            <a href="{{ url('/book') ~ '/' ~ book.slug }}">{{book.title}}</a>
                      </h4>
                    </figure>
                </li>
              {% endfor %}
              </ul>

            </div>              
              
            <!-- Related product -->
            <div class="aa-product-related-item">
              <h3>Related series</h3>
              
              <ul class="aa-product-catg aa-related-item-slider">
                <!-- start single product item -->
              {% for item in rel_series %}
                <!--start single product item -->
                <li>
                    <figure>
                      <a class="aa-product-img" href="{{ url('/series') ~ '/' ~ item.slug }}">
                         {% if item.image.getPath %}
                        <img src="{{ item.image.getPath }}" alt="img {{item.image.title}}">
                        {% else %}
                        <img src="{{ 'assets/img/electronics/electronic-1.png'|theme }}" >
                        {% endif %}
                      </a>
                      <h4 class="aa-product-title">
                            <a href="{{ url('/series') ~ '/' ~ item.slug }}">{{item.title}}</a>
                      </h4>
                    </figure>
                </li>
              {% endfor %}
              </ul>
            </div>  


          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / product category -->
